#wrap {
    width: 100%;
    height: auto;
    min-height: 100vh;
    //background: #d3ece5;
    background: #d8c8f0;

    header {
        position: fixed;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 300px;
        height: 100vh;
        padding: 30px;
        text-align: center;
        background: $mainColor;
        border-right: 1px solid #000;
        //border-right: 1px solid #e2d9f1;
        //background: #A0C1B8;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 2px;
            background-color: black;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #000;
        }
        
        &::-webkit-scrollbar-track {
            background-color: #7649b8;
        }

        .inner {

            h1 {
                display: inline-block;
                font: bold 28px/1 $enFont2;
                letter-spacing: 2px;
                margin-bottom: 30px;
                padding: 5px 10px;
                background: #000;
                
                a {
                    color: $mainColor;
                }
            }

            .btnCall {
                display: none !important;
                position: absolute;
                top: 50%; right: 25px;
                transform: translateY(-50%);
                display: flex;
                justify-content: flex-end;
                width: 30px;
                height: 30px;
                cursor: pointer;

                &.on {
                    
                }

                &::before, &::after {
                    position: absolute;
                    right: 0%;
                    content: "";
                    display: block;
                    width: 100%;
                    height: 4px;
                    background: $pointColor;
                    border: 2px solid #333;
                    border-radius: 100px;
                    overflow: hidden;
                }

                &::before {
                    top: 0%;
                }

                &::after {
                    width: 80%;
                    bottom: 0%;
                }

                span {
                    position: absolute;
                    top: 50%; right: 0%;
                    transform: translateY(-50%);
                    display: inline-block;
                    width: 60%;
                    height: 4px;
                    background: $pointColor;
                    border: 2px solid #333;
                    border-radius: 100px;
                    box-sizing: content-box;
                    text-indent: -9999px;
                }
            }

            .menuWeb {
                width: 100%;

                .profile {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    margin-bottom: 50px;
    
                    .pic {
                        position: relative;
                        margin-bottom: 20px;
        
                        .pic2 {
                            width: 150px;
                            height: 150px;
                            background: $pointColor;
                            box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2);
                        }
        
                        &::before {
                            position: absolute;
                            bottom: -5px; right: -5px;
                            z-index: -1;
                            content: "";
                            display: block;
                            width: 160px;
                            height: 160px;background: repeating-linear-gradient(
                                45deg,
                                transparent,
                                transparent 1px,
                                #000 1px,
                                #000 2px
                            );
                        }
                    }

                    h2 {
                        font: bold 20px/1 $enFont1;
                        margin-bottom: 5px;
                    }

                    span {
                        font: 14px/1 "arial";
                        color: #555;
                        margin-bottom: 30px;
                    }

                    p {
                        padding: 20px;
                        text-align: left;
                        font: 14px/1.2 $enFont1;
                        border: 1px solid #000;
                        box-shadow: 5px 5px 0px #000;
                        background: $pointColor;
                    }
                }
                

                #gnb {
                    width: 100%;
                    margin-top: 30px;

                    li {
                        margin: 20px 0;

                        a {
                            display: inline-block;
                            font: bold 20px/1 $koFont;
                            color: #000;
                            letter-spacing: 2px;
                        }

                        &:hover a {
                            text-decoration: underline;
                        }
                    }
                }
            }

            .menuMobile {
                display: none;
                position: fixed;
                z-index: 1000;
                top: 0; left: -600px;
                width: 80%;
                max-width: 600px;
                height: 100vh;
                background: $pointColor;
                border-right: 2px solid #333;
                transition: 1.5s;

                &.on {
                    left: 0px;
                }

                h1 {
                    margin: 70px 0px 50px;

                    a {
                        color: $pointColor;
                        font-size: 50px;
                    }
                }

                #gnbMobile {
                    li {
                        margin: 30px 0px;

                        a {
                            font: 50px/1 $enFont1;
                            color: #d8c8f0;
                            -webkit-text-stroke: 2px #333;
                        }

                        &:hover a {
                            color: pink;
                        }
                    }
                }
            }
            
        }

    }
    
    main {
        width: calc(100% - 300px);
        max-width: 1180px;
        margin-left: 300px;
        padding: 50px 30px;

        >.inner {
            width: 100%;
            max-width: 1180px;

            >.tab {
                position: relative;
                width: 100%;
                height: 100px;
                background: $pointColor;
                margin-top: 30px;
                border: 1px solid #000;
                border-radius: 0px 10px 0px 0px;

                .topMark {
                    position: absolute;
                    top: -30px; left: -1px;
                    display: block;
                    width: 200px;
                    height: 30px;
                    background: $pointColor;
                    border: 1px solid #000;
                    border-bottom: 0;
                    border-radius: 10px 10px 0px 0px;
                    padding: 3px 7px;

                    span:first-child {
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        width: 16px;
                        height: 16px;
                        font: 8px/1 $enFont1;
                        background: #000;
                        border-radius: 3px;
                        color: #fff;
                    }

                    span:last-child {
                        display: inline-block;
                        font: bold 14px/16px $enFont1;
                        text-indent: 5px;
                    }
                }

                .btns {
                    display: flex;
                    justify-content: flex-end;
                    width: 100%;
                    height: 50px;
                    padding-top: 7px;
                    padding-right: 5px;

                    span {
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        border: 1px solid $subColor;
                        margin: 0px 2px;
                        background: #c2baef;
                        font: bold 10px/20px $enFont1;
                        color: $subColor;

                        &:last-child {
                            background: $subColor;
                            color: $pointColor;
                            line-height: 15px;
                        }
                    }
                }
                
                .addressBar {
                    display: flex;
                    width: 100%;
                    padding: 0px 30px 0px 20px;

                    span { 
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        color: $pointColor;
                        border: 1px solid #000;
                        border-radius: 5px;
                        margin-right: 4px;
                        background: $mainColor;

                        i {
                            font-size: 15px;
                            -webkit-text-stroke: 1px #000;
                        }
                    }

                    p {
                        width: calc(100% - 34px * 3);
                        height: 30px;
                        background: pink;
                        border: 1px solid #000;
                        font: 14px/30px $enFont1;
                        padding: 0px 10px;
                        border-radius: 5px;
                        overflow: hidden;

                        &::before {
                            content: "https://icallitnewart.github.io/c-log/"
                        }
                    }
                }
            }


            .content {
                width: 100%;
                //min-height: 700px;
                //min-height: calc(100vh - 282px);
                background: rgb(252, 222, 226);
                border: 1px solid #000;
                border-top: 0;
                border-radius: 0px 0px 10px 10px;
                padding: 50px 20px;

                h1 {
                    text-align: center;
                    font: bold 40px/1 $enFont2;-webkit-text-stroke: 2px black;
                    color: $mainColor;
                    letter-spacing: 2px;
                    margin-bottom: 20px;
    
                    &::before {
                        content: "/*"
                    }
    
                    &::after {
                        content: "*/";
                    }
                }

                .intro {
                    //display: none;
                    position: relative;
                    margin: 20px auto;
                    width: calc(100% - 100px);
                    max-width: 600px;
                    font: 14px/1.5 $enFont1, $koFont;
                    word-break: break-all;
                    //color: #fff;
                    color: #333;

                    
                    &::before {
                        position: absolute;
                        display: block;
                        content: "";
                        width: 100%;
                        height: 100%;
                        transform: translate(5px, 5px);
                        background-color: #b4b4b7;
                        border: 1px solid #333;
                    }

                    p {
                        position: relative;
                        z-index: 1;
                        width: 100%;
                        height: 100%;
                        background: #dfdfe0;
                        padding: 20px;
                        border: 1px solid #333;
                        //border-radius: 5px;
                        text-align: center;
                        //box-shadow: 5px 5px 0px #b4b4b7, 5px 5px 0px 1px #333;
                        animation: fadeIn  1.2s;
                    }


                }

                >.wrap {
                    width: 100%;
                    //min-height: calc(100vh - 412px);
                    padding-top: 20px;
                }
            }

        }
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100% - 300px);
        max-width: 1180px;
        height: 50px;
        margin-left: 300px;

        p {
            font: 12px/1 "arial";
            color: #888;
        }
    }
}

@media screen and (max-width: $web) {
    #wrap {
    
        header {
            z-index: 100;//
            flex-wrap: nowrap;//
            align-items: center;//
            width: 100%;    //
            height: 70px;  //
            padding: 0px;//
            border-right: 0px;//
            border-bottom: 2px solid #333;//
            overflow-y:unset;//
    
            .inner {
    
                h1 {
                    margin-bottom: 0px;//
                }

                .btnCall {
                    display: flex !important;
                }
    
                .menuWeb {
                    display: none;
                }

                .menuMobile {
                    display: block;
                }
            }
    
        }
        
        main {
            width: 100%;//
            margin-left: 0px;//
            padding: 100px 20px 30px;//
    
        }
    
        footer {
            width: 100%;//
            margin-left: 0px;//
        }
    }
}

@media screen and (max-width: $mobile) {
    #wrap {
        main {
            padding: 100px 5px 30px;

            .tab .addressBar {
                p::before {
                    content: "Welcome to " !important;
                }
            }
        }
    }
}


.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 450px;
    //min-height: calc(100vh - 478px);

    .inner {
        width: 300px;
        height: 200px;
        padding: 50px;
        border: 1px solid #000;
        border-radius: 10px;
        background: $mainColor;
        box-shadow: 5px 5px 0px #000;
    
        p {
            font: 16px/1 $koFont;
            margin-bottom: 20px;
            color: #fff;
            letter-spacing: 2px;
            text-align: center;

            span {
                display: inline-block;
                padding: 5px;
                background: #000;
            }
        }
    
        .progress{
            position: relative;
            width: 180px;
            height: 20px;
            background: $pointColor;
            border: 1px solid #000;
            border-radius: 15px;
            margin-bottom: 20px;
        
            .color{
                position: absolute;
                background-color: pink;
                border: 1px solid #000;
                top: 50%; left: 5px; transform: translateY(-50%);
                width: 0px;
                height: 10px;
                border-radius: 15px;
                animation: progress 4s infinite linear;    
            }
        }
    
        &::after {
            content: "";
            display: block;
            padding-left: 35%;
            animation: loading 1s infinite;
            font: 14px/1 $enFont1;
    
    
        }
    }
}

@keyframes fadeIn {
    0%, 20% { 
        transform: rotate(-1deg); 
        transform-origin: left bottom;
    }
    // 70% {
    //     transform: rotate(1deg); 
    //     transform-origin: center center;
    // }
    100% { 
        transform: rotate(0deg);
    }
    // 0% { opacity: 0; }
    // 100% { opacity: 1; }
}

@keyframes shaking {
    0% { transform: rotate(-15deg); }
    100% { transform: rotate(15deg); }
}

@keyframes typingCursor {
    from, to {
        border-color: transparent;
    }

    50% {
        border-color: #eee;
    }
}

@keyframes slidein {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}

@keyframes striped {
    0% {
        background: repeating-linear-gradient(45deg, #d2e8fc, #d2e8fc 30px, #fad3d9 30px, #fad3d9 60px);
    }

    100% {
        background: repeating-linear-gradient(45deg, #fad3d9, #fad3d9 30px, #d2e8fc 30px, #d2e8fc 60px);
    }
}

@keyframes spin {
    0% { transform: rotate(0deg) }
    5% { transform: rotate(18deg) }
    10% { transform: rotate(36deg) }
    15% { transform: rotate(54deg) }
    20% { transform: rotate(72deg) }
    25% { transform: rotate(90deg) }
    30% { transform: rotate(108deg) }
    35% { transform: rotate(120deg) }
    40% { transform: rotate(144deg) }
    45% { transform: rotate(162deg) }
    50% { transform: rotate(180deg) }
    55% { transform: rotate(198deg) }
    60% { transform: rotate(216deg) }
    65% { transform: rotate(234deg) }
    70% { transform: rotate(252deg) }
    75% { transform: rotate(270deg) }
    80% { transform: rotate(288deg) }
    85% { transform: rotate(306deg) }
    90% { transform: rotate(324deg) }
    95% { transform: rotate(342deg) }
    100% { transform: rotate(360deg) }
}

@keyframes loading {
    0% {
        content: "Loading";
    }
    33% {
        content: "Loading.";
    }
    66% {
        content: "Loading..";
    }
    
    100% {
        content: "Loading...";
    }
}

@keyframes progress{
    0%{
        width: 0%;
    }
    25%{
        width: 50%;
    }
    50%{
        width: 75%;
    }
    75%{
        width: 85%;
    }
    100%{
        width: calc(100% - 10px);
    }
};