.visual {

    .wrap {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        
        .title {
            order: 1;
            width: calc(55% - 30px);
            margin-left: 30px;
            margin-bottom: 20px;
    
            h1 {
                width: 100%;
                text-align: center;
                margin-bottom: 20px;
    
                span {
                    display: inline-block;
                    font: bold 40px/1 Courier;
                    -webkit-text-stroke: 2px black;
                    color: $mainColor;
                    letter-spacing: 2px;
                    background: repeating-linear-gradient(45deg, #d2e8fc, #d2e8fc 30px, #fad3d9 30px, #fad3d9 60px);
                    animation: striped 0.5s steps(100) infinite;
                    padding: 10px 20px 7px;
                    border: 2px solid #333;
                    border-radius: 5px;
                    box-shadow: 4px 4px 0px #000;
                }
            }
    
            h2 {
                width: 100%;
                font-size: 16px;
                display: inline-block;
                text-align: center;
    
                span {
                    display: inline-block;
                    padding: 10px 10px;
                    background: #000;
                    font: 16px/1.3 $koFont;
                    color: #d8c8f0;
                }
            }

            .computer {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: calc(600px - 140px);
                overflow: hidden;
                float: left;

                .pic {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;

                    img {
                        width: 100%;
                        max-width: 500px;
                    }
                    
                    a {
                        transform: translateY(-200%);
                        font: 10px/1.2 $enFont1;
                        color: #888;
                    }
                }
                    
            }
        }

        .promptBox {
            order: 0;
            display: flex;
            flex-wrap: wrap;
            width: 45%;
            max-width:450px;
            height: 600px;
            margin-bottom: 30px;

            .folderBox {
                order: 2;
                z-index: 1;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-top: 20px;
                width: 100%;
                height: 200px;
                border: 2px solid #333;
                background: $mainColor;

                .tab {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    width: 100%;
                    height: 25px;
                    border-bottom: 2px solid #333;
                    background: $pointColor;

                    &::before, &::after {
                        content: "";
                        display: block;
                        width: 13px;
                        height: 13px;
                        border: 2px solid #333;
                        background: pink;
                        border-radius: 50%;
                        margin-right: 5px;
                    }
                }

                .folders {
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    height: calc(100% - 25px);
                    padding: 10px;

                    section {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
                        width: calc(100% / 3);
    
                        .folder {
                            position: relative;
                            width: 50px;
                            height: 50px;
        
                            &:hover i {
                                &:first-child { display: none; }
                                &:last-child { display: block; }
                            }
        
                            i {
                                font-size: 50px;
                                color: $pointColor;
                                -webkit-text-stroke: 2px #333;
                                text-shadow: 5px 5px 10px rgba(0,0,0,.2);
                                cursor: pointer;
        
                                &:last-child {
                                    position: absolute;
                                    top: 0; left: 0;
                                    display: none;
                                }
                            }
                        }
    
                        span {
                            display: inline-block;
                            padding: 3px;
                            font: 12px/1 $enFont1;
                            background: #333;
                            color: #d8c8f0;
                            border-radius: 3px;
                        }
    
                    }

                }

            }

            .prompt {
                order: 1;
                width: 100%;
                height: calc(100% - 230px);
                box-shadow: 5px 5px 20px rgba(0,0,0,.2);
                background: #fff;

                .tab {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    height: 30px;
                    background: #ddd;
                    border-bottom: 0px;

                    p {
                        width: calc(100% - 96px);
                        font: bold 12px/30px $enFont1;
                        color: #333;
                        letter-spacing: 2px;
                        padding-left: 10px;
                        border-right: 3px inset rgba(0,0,0,.5);
                        border-left: 3px inset rgba(255,255,255,.5);
                        border-top: 3px inset rgba(255,255,255,.5);
                        color: #555;
                    }

                    .icons {
                        display: inline-block;

                        span {
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;
                            width: 32px;
                            height: 30px;
                            border-right: 3px inset rgba(0,0,0,.5);
                            border-left: 3px inset rgba(255,255,255,.5);
                            border-top: 3px inset rgba(255,255,255,.5);
                            color: #333;

                            &:nth-of-type(1) {
                                font-size: 10px;
                            }

                            &:nth-of-type(2) {
                                font-size: 10px;
                            }

                            &:nth-of-type(3) {
                                font-size: 12px;
                            }
                        }
                    }
                }


                .textBox {
                    width: 100%;
                    height: calc(100% - 30px);
                    border-right: 3px inset rgba(110,110,110, 1);
                    border-left: 3px inset #fff;
                    border-bottom: 3px inset rgb(104, 104, 104);
                    
                    >div {
                        width: 100%;
                        height: 100%;
                        overflow-y: scroll;
                        border: 3px inset #ddd;
                        border-left: 3px inset rgba(255, 255, 255, 0.5);
                        background: #333;
                        padding: 15px 20px;

                        .cursor {
                            display: inline-block;
                            //width: 7px;
                            height: 14px;
                            border-right: 7px solid #eee;
                            margin-left: 2px;
                            margin-bottom: -2px;

                            &.on {
                                animation: typingCursor .75s step-end infinite;
                            }
                        }
                    }

                    p {
                        padding-bottom: 0px;
                        color: #eee;
                        word-break: break-all;
    
                        &.ko { 
                            font: 14px/1.5 $koFont; 
                        }
    
                        &.en {
                            
                            font: bold 14px/1.5 $enFont1; 
                        }
                    }
                }
            }
        }

        .recent, .popular {
            position: relative;
            z-index: 1;
            width: calc(50% - 15px);
            height: 400px;

            &::before {
                position: absolute;
                top: 3px; left: 3px;
                display: block;
                content: "";
                width: 100%;
                height: 100%;
                background: $mainColor;
                border: 2px solid #333;
            }

            ul {
                position: absolute;
                z-index: 1;
                width: 100%;
                height: 100%;
                border: 2px solid #333;
                transition: .5s;
    
                &:hover {
                    transform: translateY(-5px);
                }
    
                li {

                    &:first-child {
                        position: relative;
                        width: 100%;
                        height: 30px;
                        border-bottom: 1px solid #000;
                        background: pink;
    
                        h3 {
                            font: bold 16px/30px "arial";
                            margin-left: 10px;
                            color: #333;
    
                            a {
                                position: absolute;
                                right: 0; top: 0;
                                font: 12px/30px $enFont1;
                                margin-right: 20px;
                                color: #666;
                            }
                        }
                    }
    
                    &:not(:first-child) {
                        height: calc((100% - 30px) / 5);
                        padding: 15px 20px;
                        background: #ffe8ec;
                        word-break: break-all;
                        overflow: ellipsis;
                        cursor: pointer;
                        border-bottom: 1px solid #555;
                        transition: .5s;
    
                        h4 {
                            width: 100%;
                            height: 18px;
                            overflow: hidden;
                            margin-bottom: 10px;
                            font: 16px/1.3 "arial", $koFont;
                            color: #444;
                        }
    
                        p {
                            display: flex;
                            align-items: center;
    
                            span {
                                display: inline-block;
                                font: bold 12px/1 "arial";
                                vertical-align: middle;

                                &.writer {
                                    color: purple;
                                    margin-right: 10px;
                                }

                                &.likes {
                                    position: relative;
                                    color: #333;
                                    font-size: 10px;
                                    border: 1px solid #333;
                                    padding: 2px 3px 2px 12px;
                                    border-radius: 5px;
                                    background: $mainColor;

                                    i {
                                        position: absolute;
                                        transform: translate(-19px, -4px);
                                        display: inline-block;
                                        border: 1px solid #333;
                                        padding: 3px;
                                        border-radius: 50%;
                                        color: pink;
                                        background: $pointColor;
                                        -webkit-text-stroke: 1px #333;
                                    }

                                    &.on {
                                        i {
                                            color: darkred;
                                            -webkit-text-stroke: 0px;
                                        }
                                    }
                                }

                                &.date {
                                    margin-left: auto;
                                    margin-right: 12px;
                                    color: rebeccapurple;
                                }
                            }
                        }
                    }
    
                    &:last-child {
                        margin-bottom: 0px;
                        border-bottom: 0px;
                    }
                }
            }

        }

        .recent {
            order: 2;
            margin-right: 30px;

            ul  li:hover {
                background: #f2c9d0;
            }
        }

        .popular {
            order: 3;

            ul li:first-child {
                background: $pointColor;
            }

            ul li:not(:first-child) {
                background: #ecf2fb;
            }

            ul li:hover {
                background: #cdddf4;
            }
        }

        &::after {
            content: "";
            display: block;
            clear: both;
        }
    }
}


@media screen and (max-width: $tablet) {
    .visual .wrap {
        .title {
            order: 0;
            display: flex;
            flex-direction: column;
            align-items: center;

            width: 100%;
            height: auto;
            
            .computer {
                width: 80%;
                height: auto;

                .pic a {
                    transform: translateY(-200%);
                }
            }
        }

        .promptBox {
            width: 100%;
            max-width: none;
            height: 300px;

            .folderBox {
                width: calc(40% - 20px);
                height: 100%;
                margin-left: 20px;
                margin-top: 0px;
                
                .folders {
                    section {
                        width: calc(100% / 2);
                    }
                }
            }

            .prompt {
                width: 60%;
                height: 100%;
            }
        }

        .recent {
            width: 100%;
            margin-right: 0px;
            margin-bottom: 30px;
        }

        .popular {
            width: 100%;
        }
    }
}

@media screen and (max-width: $mobile) {
    .visual .wrap {
        padding: 0px 20px;

        .title {
            
            .computer {
                width: 100%;

                .pic a {
                    transform: translateY(-100%);
                }
            }
        }

        .promptBox {
            height: auto;

            .folderBox {
                order: 1;
                width: 100%;
                height: 200px;
                margin-left: 0px;
                margin-bottom: 20px;
                
                .folders {
                    section {
                        width: calc(100% / 3);
                    }
                }
            }

            .prompt {
                width: 100%;
                height: 400px;
            }
        }
    }
}