.playlist {
    .inner {
        .tab .addressBar {
            p::after {
                content: "playlist";
            }
        }
        .content {
            .wrap {
                width: 100%;

                .frame {
                    width: 100%;

                    .item {
                        width: calc(100% / 3 - 2vw);
                        margin: 1vw;
                        float: left;
                        border: 1px solid $subColor;
                        box-shadow: 5px 5px 0px $subColor;
                        background: $mainColor;
                        transition: .5s;
                        cursor: pointer;

                        .pic {
                            position: relative;
                            width: 100%;
                            padding: 15px;
                            padding-bottom: 25px;

                            img {
                                width: 100%;
                                aspect-ratio: 1.5 / 1;
                                filter: grayscale(.5);
                                border: 1px solid #000;
                            }
    
                            ul {
                                position: absolute;
                                bottom: 10px; right: 17px;
                                display: flex;
    
                                li {
                                    width: 15px;
                                    height: 15px;
                                    margin: 0px 2px;
    
                                    span {
                                        display: inline-block;
                                        width: 15px;
                                        height: 15px;
                                        border: 1px solid $subColor;
                                        border-radius: 50%;
                                    }
    
                                    &:nth-of-type(1) span {
                                        background: $subColor;
                                    }
    
                                    &:nth-of-type(2) span {
                                        background: hotpink;
                                    }
    
                                    &:nth-of-type(3) span {
                                        background: lightseagreen;
                                    }
                                }
                            }
                        }

                        .textBox {
                            position: relative;
                            width: 100%;
                            padding: 15px 20px 30px;
                            background: $pointColor;
                            border-top: 1px solid $subColor;

                            p {
                                font: bold 14px/1.3 $enFont1, "arial";
                                color: $subColor;
                            }

                            >span {
                                position: absolute;
                                bottom: 15px; right: 15px;
                                font: 12px/1 $enFont1, "arial";
                            }
                        }

                        /*&:hover {
                            transform: translateY(-10px);

                            /*p::after {
                                display: inline-block;
                                content: "👀";
                                width: 25px;
                                height: 25px;
                                color: #000;
                                margin-left: 5px;
                                background: pink;
                                border-radius: 50%;
                                border: 1px solid #000;
                            }
                        }*/
                    }
                }
            }
        }
    }

    .popup {
        position: fixed;
        top: 0; left: 300px;
        width: calc(100% - 300px);
        height: 100vh;
        background: rgba(186, 208, 239, 0.95);

        .inner {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 1180px;
            height: 100vh;
            min-height: calc(400px + 200px);

            .wrap {
                width: 700px;
                height: 400px;
                border: 1px solid #5c67e2;
                border-radius: 10px;
                background: #fff;
                margin: 100px 0px;

                .tab {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    width: 100%;
                    height: 30px;
                    border-bottom: 1px solid #5c67e2;
                    padding: 0px 2px;
    
                    span {
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        width: 20px;
                        height: 20px;
                        border: 1px solid #5c67e2;
                        border-radius: 50%;
                        margin: 0px 3px;
    
                        &:last-child {
                            background: #5c67e2;
                            color: #fff;
                            font: 14px/20px $enFont1;
                            cursor: pointer;
                        }   //#b5c8f2
                    }
                }
    
                .container {
                    width: 100%;
                    height: calc(100% - 30px);
                    background: #a39cdc9c;
                    border-radius: 0px 0px 10px 10px;
    
                    .player {
                        display: flex;
                        flex-wrap: wrap;
                        align-content: center;
                        width: 35%;
                        height: 100%;
                        float: left;
                        padding: 20px;
    
                        .vinyl {
                            display: flex;
                            align-items: center;
                            position: relative;
                            width: 153px;
                            height: 153px;
                            margin: 0 auto;
                            margin-top: 20px;
                            background: 
                            #9ca4ff;
                            border: 1px solid #555;
                            border-radius: 10px;
                            box-shadow: 7px 7px 14px rgba(0, 0, 0, 0.2);
    
                            .record {
                                position: relative;
                                margin: 0px auto;
                                width: 130px; 
                                height: 130px;
                                border-radius: 50%;
                                background: linear-gradient(30deg, transparent 40%, rgba(42, 41, 40, .85) 40%) no-repeat 100% 0,
                                linear-gradient(60deg, rgba(42, 41, 40, .85) 60%, transparent 60%) no-repeat 0 100%,
                                repeating-radial-gradient(#2a2928, #2a2928 4px, $mainColor 5px, #2a2928 6px);
                                background-size: 50% 100%, 100% 50%, 100% 100%;
                                animation: spin .7s infinite;
                            }
                            
                            &::before {
                                position: absolute;
                                top: 10px; left: 10px;
                                display: block;
                                content: "";
                                width: 130px;
                                height: 130px;
                                box-shadow:5px 5px 10px rgba(0, 0, 0, 0.4);
                                border-radius: 50%;
                            }
        
                            &::after {
                                position: absolute;
                                top: 50%; left: 50%;
                                margin: -15px;
                                width: 30px; height: 30px;
                                border-radius: 50%;
                                box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.2);
                                background: #c7c2ea;
                                content: '';
                            }
                        }
    
                        .btns {
                            display: flex;
                            justify-content: center;
                            width: 100%;
                            padding: 20px 0px;
    
                            li {
                                &.on a {
                                    box-shadow: none !important;
                                    transform: translateX(3px);
                                }

                                a {
                                    display: inline-flex;
                                    justify-content: center;
                                    align-items: center;
                                    width: 40px;
                                    height: 40px;
                                    border: 1px solid $subColor;
                                    color: $subColor;
                                    margin: 0px 5px;
                                    border-radius: 50%;
                                    background: $pointColor;
                                    box-shadow: 3px 1px 0px $subColor;
    
                                    i { 
                                        transition: .5s;
                                        font-size: 20px; 
                                        -webkit-text-stroke: 1px $subColor;
                                        color: $mainColor;
                                    }
                                }
    
                            }
    
    
                        }
    
                    }
    
                    .video {
                        width: 65%;
                        float: left;
                        padding: 45px 30px 30px 0px;
    
                        iframe {
                            width: 100%;
                            height: 230px;
                            background: #eee;
                            margin-bottom: 10px;
                            border: 1px solid #333;
                            //border: 1px solid #9ca4ff;
                            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
                        }
    
                        p {
                            font: 14px/1.4 $enFont1, $koFont;
                            color: $subColor;
                            text-align: center;
    
                            &:nth-of-type(1) {
                                position: relative;
                                height: 17px;
                                overflow: hidden;

                                >span {
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    display: block;
                                    //animation: slidein ease-in 10s infinite;
                                }

                                span.highlight {
                                    background: $subColor;
                                    color: #fff;
                                    word-break: break-all;
                                }
                            }
    
                            &:last-child {
                                text-align: center;
    
                                span {
                                    font: 12px/1 $enFont1;
                                    padding-right: 3px;
                                }
                            }
    
                        }
    
                    }
    
                    &::after {
                        content: "";
                        display: block;
                        clear: both;
                    }
                }

            }
        }
    }

}

@media screen and (max-width: $web) {
    .playlist {

        .popup {
            width: 100%;
            z-index: 1000;
            overflow-y: scroll;
            left: 0px;
        }
    }
}

@media screen and (max-width: $tablet) {
    .playlist {
        .item {
            width: calc(100% / 2 - 3vw) !important;
            margin: 15px 1.5vw !important;
        }
        
        .popup {
            .inner {
                min-height: calc(350px + 200px);
                
                .wrap {
                    width: 500px !important;
                    height: 350px !important;
        
                    .player {
                        width: 40% !important;
                    }
        
                    .video {
                        width: 60% !important;
                        padding: 50px 20px 30px 0px !important;
                    }
        
                    iframe {
                        height: 150px !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $mobile) {
    .playlist {
        .tab .addressBar {
            p::after {
                content: "playlist!" !important;
            }
        }

        .item {
            width: calc(100% / 1 - 3vw) !important;
            margin: 15px 1.5vw !important;
        }
        
        .popup {

            .inner {
                min-height: calc(645px + 200px );
                
                .wrap {
                    width: calc(100% - 20px) !important;
                    margin: 0 auto;
                    height: auto !important;
        
                    .player {
                        width: 100% !important;
                    }
        
                    .video {
                        width: 100% !important;
                        padding: 0px 20px 40px !important;
                    }
        
                    iframe {
                        height: 230px !important;
                    }
                }
                
            }
        }
    }
}

/*
position: relative;
width: calc(100% / 4 - 20px);
height: 300px;
border: 1px solid $subColor;
background: $mainColor;
margin: 10px;
//border-radius: 10px;
float: left;
box-shadow: 5px 5px 0px $subColor;
padding: 10px;
*/