@charset "UTF-8";
@font-face {
    font-family: 'NeoDunggeunmo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$mainColor: #B69CDC;
$subColor:#4219D7;
$pointColor: #bad0ef;
$koFont : NeoDunggeunmo;
$enFont1 : Consolas;
$enFont2 : Courier;

//common
@import "common/reset";
@import "common/mixin";
@import "common/layout";

//main
@import "main/visual";

//sub
@import "sub/about";
@import "sub/blog";
@import "sub/gallery";
@import "sub/join";
@import "sub/playlist";